/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif;
  }
/* 레이아웃 */
body{
    width:100%;
    height: 100vh;
}
#root{
    width:1200px;
    margin:0 auto;
}
#header {
    width:100%;
    height: 75px;
    background-color: aqua;
    font-size: 50px;
}
#header div {
    margin:0;
    padding: 10px 0 10px 0;
    text-align: center;
}
.contents {
    position: relative;
    width:100%;
    height:100%;
}

.board {
    width:100%;
    margin-top: 100px;
    position: relative;
}
.board .line1{
    width: 100%;
    height: 75px;
    display:flex;
}
.board .line1 div{
    width:100%;
}
.board .line1 div:nth-child(even){
    background-color: yellow;
}
.board .line1 div:nth-child(odd){
    background-color: blue;
}
.board .line1 div:first-child{
    background-color: red;
}
#horse {
    width:50px;
}

.board .line2{
    position: absolute;
    left:87.5%;
    width: 150px;
    height:300px;
    display:flex;
    flex-direction: column;
}
.board .line2 div{
    width:100%;
    height:75px;
}
.board .line2 div:nth-child(even){
    background-color: yellow;
}
.board .line2 div:nth-child(odd){
    background-color: blue;
}

.board .line3{
    position: absolute;
    top:375px;
    right:0px;
    width: 100%;
    height: 75px;
    display:flex;
    flex-direction: row-reverse;
}
.board .line3 div{
    width:100%;
    height:75px;
}
.board .line3 div:nth-child(even){
    background-color: yellow;
}
.board .line3 div:nth-child(odd){
    background-color: blue;
}

.board .line4{
    position: absolute;
    left:0px;
    width: 150px;
    height:300px;
    display:flex;
    flex-direction: column-reverse;
}
.board .line4 div{
    width:100%;
    height:77px;
}
.board .line4 div:nth-child(even){
    background-color: yellow;
}
.board .line4 div:nth-child(odd){
    background-color: blue;
}

.dice {
    position:absolute;
    top:150%;
    left:45%;
}

.dice img {
    width:150px;
}
.dice button {
    width: 150px;
    margin-top:30px;
    font-size: 20px;
    border: 1px solid black;
    background-color: lightgray;
}